.column {
  @mixin atSmall {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    &--gutters {
      column-gap: 5.3%;
    }

    &--gutters-small {
      column-gap: 8%;
    }

    &--gutters-large {
      column-gap: 3.6%;
    }

    &__large-1,
    &__large-2,
    &__large-3,
    &__large-4,
    &__large-5,
    &__large-6,
    &__large-7,
    &__large-8,
    &__large-9,
    &__large-10,
    &__large-11,
    &__large-12 {
      grid-column: span 12;
    }

    &__medium-2 {
      grid-column: span 2;
    }

    &__medium-3 {
      grid-column: span 3;
    }

    &__medium-4 {
      grid-column: span 4;
    }

    &__medium-6 {
      grid-column: span 6;
    }

    &__medium-8 {
      grid-column: span 8;
    }

    &__medium-9 {
      grid-column: span 9;
    }

    &__medium-10 {
      grid-column: span 10;
    }

  }
}
