.site-header {
  background-color: $mainBlue;
  z-index: 5;

  &--hide-me {
    opacity: 0;
    margin: 0;
  }

  &__logo {
    display: block;
    background-color: $mainGreen;
    float: left;
    padding-left:40px;
    border-radius: 100px 30px;
    transform: scale(135%);
    position: absolute;
    z-index: 5;

    h1 {
      font-size: 1.5rem;
    }

    &__header {
      &__primary {
        position: relative;
        top: 5%;
        left: 10%;
        font-size: 1.5rem;
        margin-bottom: 0;
      }

      &__secondary {
        margin-top: 10px;
        padding-bottom: 20px;
        position: relative;
        left: 10%;
        font-size: 1.3rem;
      }
    }
  }

  &__menu-content {
    display: flex;
    justify-content: flex-end;
  }
}
